<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>编辑用户信息</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
</head>
<body>
<br>
<br>
<br>
<br>
<form th:action="@{/updateUser}" method="post"th:object="${user}" style="margin: 100px">
    <div class="form-group">
        <label for="id" hidden>firstname</label>
        <input type="hidden"  id="id" th:value="*{id}" name="id" style="width: 20%" >
    </div>
    <div class="form-group">
        <label for="firstname">firstname</label>
        <input type="text" class="form-control" id="firstname" th:value="*{firstname}" name="firstname" style="width: 20%" required>
    </div>
    <div class="form-group">
        <label for="lastname">lastname</label>
        <input type="text" class="form-control" id="lastname" th:value="*{lastname}" name="lastname"style="width: 20%" required>
    </div>
    <div class="form-group">
        <label for="email">email</label>
        <input type="email" class="form-control" id="email" th:value="*{email}" name="email"style="width: 20%" required>
    </div>
    <input type="submit" value="提交" onclick="return window.confirm('Are you sure?')">
</form>
</body>
</html>